<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>部门经理-查看保险产品</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="{% static 'css/public/layui.css' %}"  media="all">
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
    
<div class="demoTable" style="margin-left: 400px;">
  搜索订单号：
  <div class="layui-inline">
    <input class="layui-input" name="id" id="demoReload" autocomplete="off">
  </div>
  <button class="layui-btn" data-type="reload">搜索</button>
</div>
   
<table class="layui-hide" id="demo"></table>


<script src="{% static 'js/public/layui.js' %}"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
layui.use('table', function(){
  var table = layui.table;
  
  //展示已知数据
  table.render({
    elem: '#demo'
    ,toolbar:'#toolbarDemo'
    ,url:'/seller/findallProduct'
    ,cols: [[ //标题栏
      {field: 'insuranceType', title: '保险类型', width: 140, sort: true}
      ,{field: 'insuranceNumber', title: '保险编号', minwidth: 80}
      ,{field: 'accident', title: '保险产品', minWidth: 100}
      ,{field: 'insurancePrice', title: '价格', width: 120, sort: true}
    ]]
    //,skin: 'line' //表格风格
    ,even: true
    ,page: true //是否显示分页
    //,limits: [5, 7, 10]
    ,limit: 10 //每页默认显示的数量
  });
});
</script>

</body>
</html>