
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/first/css/staff.css" />
  <link rel="stylesheet" type="text/css" href="/first/css/table.css" />
  <link rel="stylesheet" type="text/css" href="/first/css/page.css" />
  <link rel="stylesheet" type="text/css" href="/first/resources/css/layui.css" media="all"/>
  <link rel="stylesheet" href="/first/resources/Manager/css/layui.css"  media="all">
  <meta charset="utf-8">
  <title>部门经理-手动批复申请</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
  <style>
    #format1{
      text-align:center;
      color:red;
    }
  </style>
</head>

<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>

<body style="background-color: white">

<script type="text/html" id="toolbarDemo">
  <div class="demoTable" style="margin-left: 400px; ">
    <div class="layui-inline">
      <input class="layui-input" name="id" id="demoReload" autocomplete="off" value="输入想查找的员工ID/姓名">
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
  </div>
</script>
<fieldset class="layui-elem-field site-demo-button">
  <legend>选择数据表格</legend>
  <div>

    <select  name="formatOP" id="formatOP" style="height: 35px;width: 160px">

      <option value="lll" >-请选择表格-</option>
      <option value="customerOP"> 用户数据</option>
      <option value="orderOP">订单数据</option>
      <option value="insuranceOP">保险数据</option>

    </select>

  </div>
  <br>

</fieldset>

<fieldset class="layui-elem-field site-demo-button">
  <legend>精算面板</legend>
  <div>
    <br><br>
    自定义公式：
    <input type="text" name="fun1">
    <input type="button" id="submitFun" value="计算" class="layui-btn layui-btn-radius" />
    <br>
    <br>
    已储存的公式:
    <img src="/first/images/function1.png" style="width: 300px;height: 70px">
    <img src="/first/images/function2.png" style="width: 300px;height: 70px">
    <img src="/first/images/function3.png" style="width: 250px;height: 50px">

    <br>
    <br>
    计算结果：
    <input type="text" name="result">
    <br>
    <br>

    <br>



  </div>
</fieldset>
<fieldset class="layui-elem-field site-demo-button">
  <legend>存储面板</legend>
  <div>
    <br>
    <input type="button" id="storeFun" class="layui-btn" value="存储上述公式">
    <br><br>
    变量命名：
    <input type="text" name="resultName">
    <input type="button" id="storeResult"  class="layui-btn layui-btn-radius" value="存储结果">
    <br><br>
    存储结果查看：
    <select name="formulaDisplay" id="formulaDisplay" style="height: 35px;width: 160px">
      <option value="">kkkkk</option>
    </select>
    <br><br>
  </div>
</fieldset>


<script type="text/JavaScript">
  //点击option中的顾客数据后，页面显示相关表格数据
  $("#formatOP").change(function () {
    var grade=document.all['formatOP'].value
    // alert(grade);
    if(grade=="customerOP"){
      $.ajax({
        url: "/first/department/customerOP",        //后台url
        type: "POST",                   //类型，POST或者GET
        dataType: 'json',              //数据返回类型，可以是xml、json等
        success: function (data) {
          var str = "";//定义用于拼接的字符串
          for (var i = 0; i < data.length; i++) {
            //拼接表格的行和列
            str = "<tr><td>" + data[i].name + "</td><td>" + data[i].id + "</td></tr>";

            $("#tab").append(str);
          }
        },
        error: function (er) {          //失败，回调函数
          alert("error");
        }
      });
    }

    else{
      alert("没有这个表格")
    }

  })


  //当点击公式下拉框并选中的时候，公式的框里出现相应的内容
  $("#formulaDisplay").change(function () {
    var funName=document.all['formulaDisplay'].value
    alert(funName)
    $.ajax({
      url: "/first/department/selectFun",        //后台url
      data: {                          //数据

        funName: funName

      },
      type: "POST",                   //类型，POST或者GET
      dataType: 'text',              //数据返回类型，可以是xml、json等
      success: function (data) {
        var getfun = data;
        $("input[name=fun1]").val(getfun);
      },
      error: function (er) {          //失败，回调函数
        alert("error");
      }
    });

  })

</script>

</body>

<script>
  $(function () {

    //关于精算公式的提交与接受并显示结果
    $("#submitFun").click(function () {

      $.ajax({
        url: "/first/department/test1Fun",        //后台url
        data: {                          //数据

          fun1: $("input[name='fun1']").val()

        },
        type: "POST",                   //类型，POST或者GET
        dataType: 'text',              //数据返回类型，可以是xml、json等
        // traditional:true,
        success: function (data) {
          var str1 = data;
          $("input[name=result]").val(str1);

        },
        error: function (er) {          //失败，回调函数
          alert("error");
        }
      });
    })

    $("#storeResult").click(function () {

      $.ajax({
        url: "/first/department/storeResult",        //后台url
        data: {                          //数据

          result: $("input[name='result']").val(),
          resultName: $("input[name='resultName']").val(),
          fun:$("input[name='fun1']").val()

        },
        type: "POST",                   //类型，POST或者GET
      });
    })


    //用来显示后台传来的一组json的list 形式事string
    $().ready(function() {
      $.ajax({
        // url: "/first5_war_exploded/department/getProductList",        //后台url
        url: "/first/department/getList",        //后台url
        type: "POST",                   //类型，POST或者GET
        dataType: 'json',              //数据返回类型，可以是xml、json等
        // traditional:true,
        success: function (data) {
          // var json=JSON.stringify(data);
          //显示传来的list中的数据
          // alert(data[1].id);
          // showData();
          var str = "";//定义用于拼接的字符串
          for (var i = 0; i < data.length; i++) {
            //拼接表格的行和列
            // str = "<tr><td>" + data[i].name + "</td><td>" + data[i].id + "</td></tr>";

            str="<li><a href=\"/first/homePage/toDepartment\">"+data[i].name+"</a></li>";
            // str="<input type='button' value='"+data[i].name+"'>"
            //追加到table中
            $("#tab").append(str);
          }

          // var str1 = "";//定义用于拼接的字符串
          // for (var j = 0; j < data.length; j++) {
          //
          //     str="<option>"+data[j].name+"</option>";
          //
          //     $("#formulaDisplay").append(str1);
          // }
          for (var j = 0; j < data.length; j++) {
            var option = document.createElement("option");
            $(option).val(data[j].name);
            $(option).text(data[j].name);
            $('#formulaDisplay').append(option);
          }

          // $("#formulaDisplay").empty();
          // $("#formulaDisplay").append('<option value="">请选择发行机构</option>');
          // if (data.total>0) {
          //     for(var k=0; i<data.rows.length; i++){
          //         $("#formulaDisplay").append('<option value="'+data.rows[k].id+'</option>');
          //     }
          // }
        },
        error: function (er) {          //失败，回调函数
          alert("error了");
        }
      });
    })


  })



</script>

</html>