<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<meta charset="UTF-8">
	<title>理赔查询</title>
    <style type="text/css">
    .icons{
    height: 18px;
    width: 19px;
    }
    .formControl{
    margin-top: 160px;
    }
	</style>

    <link rel="stylesheet" type="text/css" href="{% static 'css/customer/staff.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/customer/表格模型.css' %}" />
</head>
<body>
	<!-- logo -->
	<div class="top">
	   <div class="logo">
		  <img src="{% static 'images/customer/logo.png' %}"  alt="BUPT INSURANCE" />
	   </div>
	   <div class="headfont">
		  <p>以下为您可查询的理赔查询</p>
	   </div>
	</div>

    <div class="navbar">
        <ul class="navbarMenu">
            <li><a href="">主页</a></li>
            <li><a href="{% url 'customer:selfinfo' %}">个人信息管理</a>
                <ul class="navbarSubmenu">
                    <li><a href="{% url 'customer:selfmsgmodify' %}>修改个人信息</a></li>
                    <li><a href="{% url 'customer:bankcard' %}">银行卡管理</a></li>
<!--                     <li><a href="#">three</a></li>
                    <li><a href="#">four</a></li>
                    <li><a href="#">five</a></li>
                    <li><a href="#">six</a></li> -->
                </ul>
            </li>
            <li><a href="{% url 'customer:selfbuy' %}">购买保险</a>
                <ul class="navbarSubmenu">
                    <li><a href="{% url 'customer:selfbuy' %}">个人保险</a></li>
                    <li><a href="{% url 'customer:teamins' %}">团体保险</a></li>
 <!--                    <li><a href="#">three</a></li>
                    <li><a href="#">four</a></li>
                    <li><a href="#">five</a></li>
                    <li><a href="#">six</a></li> -->
                </ul>
            </li>
            <li><a href="{% url 'customer:companyinsurance' %}">公司团体保险</a>
                <ul class="navbarSubmenu">
<!--                     <li><a href="#">one</a></li>
                    <li><a href="#">two</a></li>
                    <li><a href="#">three</a></li>
                    <li><a href="#">four</a></li>
                    <li><a href="#">five</a></li>
                    <li><a href="#">six</a></li> -->
                </ul>
            </li>
            <li><a href="{% url 'customer:claiminquiry' %}">理赔查询</a></li>
            <li><a href="{% url 'customer:selfclaim' %}">自助理赔</a></li>
            <li><a href="{% url 'customer:modifypswd' %}">修改密码</a></li>
        </ul> 
    </div>
	<div class="formControl">
			<table width="100%" width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
 				<thead>
		       		<tr>
		        		<th>赔单编号</th>
						<th>对应事故</th>
		            	<th class="bzjh">保障最低金额</th>
		            	<th class="bzjh">最高金额</th>
		            	<th class="bzjh">购险时间</th>
		            </tr>
		        </thead>
				<tbody>
					<tr>
						<td rowspan="3">
							<div><p>3123123123123</p></div>
						</td>
						<td  class="tal">意外伤害身故、残疾</td>
	                    <td class="bzjh">20万</td>
		                <td class="bzjh">30万</td>
		                <td class="bzjh">xxxx</td>
					</tr>
					<tr>
		               	<td  class="tal">意外和疾病住院和门急诊</td>
		                <td class="bzjh">5万</td>
		                <td class="bzjh">15万</td>
		                <td class="bzjh">xxx</td>
					</tr>
					<tr>
						<td  class="tal">意外伤害身故、残疾</td>
		               	<td class="bzjh">20万</td>
		               	<td class="bzjh">30万</td>
	                   	<td class="bzjh">xxxx</td>
					</tr>
					<tr>
						<td rowspan="4">
							<div><p>123123123123123</p></div>
						</td>
		                <td  class="tal">飞机意外伤害身故和残疾</td>
	                   	<td class="bzjh">30万</td>
	                  	<td class="bzjh">50万</td>
	                   	<td class="bzjh">xxxx</td>
					</tr>
					<tr>
	                	<td  class="tal">火车意外伤害身故和残疾</td>
	                   	<td class="bzjh">10万</td>
	                   	<td class="bzjh">20万</td>
	                   	<td class="bzjh">xxxx</td>
					</tr>
					<tr>
	                   	<td  class="tal">轮船意外伤害身故和残疾</td>
	                   	<td class="bzjh">10万</td>
	                   	<td class="bzjh">20万</td>
	                   	<td class="bzjh">xxxxx</td>
					</tr>
					<tr>
                    	<td  class="tal">汽车意外伤害身故和残疾</td>
	                   	<td class="bzjh">10万</td>
	                    <td class="bzjh">20万</td>
	                   	<td class="bzjh">xxxx</td>
					</tr>
				</tbody>
			</table>
		</div>
</body>
</html>