<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>员工客户主页</title>
    <link rel="stylesheet"  href="/first/css/customerStaff.css" />
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="/first/js/myfocus-2.0.1.min.js"></script>
    <script type="text/javascript" src="/first/js/SuperSlide.js"></script>
    <script src="/first/js/cus.js"></script>
    <script>
        $(document).ready(function () {
            var data = window.sessionStorage.getItem("user");
            console.log(data);
            if (data != null) {
                var user = $.parseJSON(data);
                $(".showName").html(user.email);
            } else {
                $(".showName").append("欢迎");
            }
        });
    </script>
</head>
<body>
<!-- logo -->
<div class="top">
    <div class="logo">
        <img src="/first/images/logo.png"  alt="BUPT INSURANCE" />
    </div>
    <div class="menu">
        <ul>
            <li class="showName" style="display:block;padding:5px 25px;background: rgba(255, 52, 14, 0.67);color:#fff;text-decoration:none;"></li>
            <li><a href="/first/customer/customerIndex" onclick="removeSession()">退出</a></li>
            <li><a href="/first/customer/cusInfo">个人中心</a></li>
            <li><a href="/first/customer/cusLogin">登录/注册</a></li>
        </ul>
    </div>
    <div class="headfont">
        <p>保险精算平台 省心 省钱</p>
    </div>
</div>

<div class="navbar">
    <ul class="navbarMenu">
        <li><a href="">主页</a></li>
        <li><a href="/first/customer/cusInfo">个人信息管理</a>
            <ul class="navbarSubmenu">
                <li><a href="/first/customer/cusInfo">修改个人信息</a></li>
                <li><a href="/first/customer/bankCard">银行卡管理</a></li>
            </ul>
        </li>
        <li><a href="/first/customer/cus1Buy">购买保险</a>
            <ul class="navbarSubmenu">
                <li><a href="/first/customer/cus1Buy">个人保险</a></li>
                <li><a href="/first/customer/cusBuyteam">团体保险</a></li>
            </ul>
        </li>
        <li><a href="/first/customer/companyInsurance">公司团体保险</a>
            <ul class="navbarSubmenu">
            </ul>
        </li>
        <li><a href="/first/customer/insuranceSearch">理赔查询</a></li>
        <li><a href="/first/customer/selfClaim">自助理赔</a></li>
        <li><a href="/first/customer/passChange">修改密码</a></li>
    </ul>
</div>

<!-- 滚动图片 -->
<div class="middleslides">
    <ul class="slides">
        <input type="radio" name="radio-btn" id="img-1" checked />
        <li class="slide-container">
            <div class="slide">
                <img src="/first/images/tuangtibaoxian.png"/>
            </div>
            <div class="nav">
                <label for="img-6" class="prev">&#x2039;</label>
                <label for="img-2" class="next">&#x203a;</label>
            </div>
        </li>

        <input type="radio" name="radio-btn" id="img-2" />
        <li class="slide-container">
            <div class="slide">
                <img src="/first/images/gerenbaoxian.jpg" />
            </div>
            <div class="nav">
                <label for="img-1" class="prev">&#x2039;</label>
                <label for="img-3" class="next">&#x203a;</label>
            </div>
        </li>

        <input type="radio" name="radio-btn" id="img-3" />
        <li class="slide-container">
            <div class="slide">
                <img src="/first/images/yinhangdailibaoxian.jpg" />
            </div>
            <div class="nav">
                <label for="img-2" class="prev">&#x2039;</label>
                <label for="img-4" class="next">&#x203a;</label>
            </div>
        </li>

        <input type="radio" name="radio-btn" id="img-4" />
        <li class="slide-container">
            <div class="slide">
                <img src="/first/images/shuiyanyanglaobaoxian.jpg" />
            </div>
            <div class="nav">
                <label for="img-3" class="prev">&#x2039;</label>
                <label for="img-5" class="next">&#x203a;</label>
            </div>
        </li>

        <input type="radio" name="radio-btn" id="img-5" />
        <li class="slide-container">
            <div class="slide">
                <img src="/first/images/jiankangwuyou.jpg" />
            </div>
            <div class="nav">
                <label for="img-4" class="prev">&#x2039;</label>
                <label for="img-6" class="next">&#x203a;</label>
            </div>
        </li>

        <input type="radio" name="radio-btn" id="img-6" />
        <li class="slide-container">
            <div class="slide">
                <img src="/first/images/fazhanlicheng.jpg" />
            </div>
            <div class="nav">
                <label for="img-5" class="prev">&#x2039;</label>
                <label for="img-1" class="next">&#x203a;</label>
            </div>
        </li>

        <li class="nav-dots">
            <label for="img-1" class="nav-dot" id="img-dot-1"></label>
            <label for="img-2" class="nav-dot" id="img-dot-2"></label>
            <label for="img-3" class="nav-dot" id="img-dot-3"></label>
            <label for="img-4" class="nav-dot" id="img-dot-4"></label>
            <label for="img-5" class="nav-dot" id="img-dot-5"></label>
            <label for="img-6" class="nav-dot" id="img-dot-6"></label>
        </li>
    </ul>
</div>
</body>
</html>

