<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>个人信息修改</title>
    <script type="text/javascript" src="{% static 'js/public/jquery.1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/public/myfocus-2.0.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/public/SuperSlide.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/customer/cus.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/customer/cusInfo.css' %}" />

    <script>
        $(document).ready(function () {
            var data = window.sessionStorage.getItem("user");
            if (data != null) {
                var user = $.parseJSON(data);
                $(".email").val(user.email);
                $(".password").val(user.password);
                $(".id").val(user.id);
                $(".phone").val(user.phone);
                $("#address").val(user.address);
                $(".company").val(user.company);
                $(".idcard").val(user.idcard);
            }
        });
    </script>
</head>
<body>

<div class="container">
    <h1>个人信息修改</h1>
    <form>
        <div>
            <p>
                <label>
                    账号
                    <br>
                    <input type="text" class="id" id="id" name="id" placeholder="账号"  disabled>
                </label>
            </p>
            <br>
            <p>
                <label>
                    住址
                    <br>
                    <input type="text" class="address" id="address" name="address" placeholder="住址" >
                </label>
            </p>
            <p>
                <label>
                    联系方式
                    <br>
                    <input type="text" class="phone" id="phone" name="phone" placeholder="手机/电话" >
                </label>
            </p>
            <p>
                <label>
                    公司地址
                    <br>
                    <input type="text" class="company" id="company" name="company" placeholder="请输入您的公司地址">
                </label>
            </p>

            <p>
                <label>
                    email
                    <br>
                    <input type="text" class="email" id="email" name="email" placeholder="例如：abc123@email.com">
                </label>
            </p>

            <p>
                <label>
                    证件号码
                    <br>
                    <input type="text"  class="idcard" id="idcard"  name="idcard" placeholder="请输入正确的证件号码" disabled>
                </label>
            </p>

            <p>
                <label>
                    证件类型
                    <br>
                    <select>
                        <option value="" disabled selected>请选择...</option>
                        <option>身份证</option>
                        <option>护照</option>
                        <option>军官证</option>
                        <option>港澳居民通行证</option>
                        <option>台湾居民通行证</option>
                    </select>
                </label>
            </p>


            <p>
                <label>
                    身份证正面
                    <br>
                    <input type="file" name="ID1" id="ID1">
                </label>
            </p>

            <p>
                <label>
                    身份证背面
                    <br>
                    <input type="file" name="ID2" id="ID2">
                </label>
            </p>
            <br>


            {% comment %}
             要改！！！！！
            {% endcomment %}

            <input type="button" value="添加" onclick="updateUser()" class="cl">
            <input type="button" value="返回" onclick="backHome()" class="cl">
        </div>
    </form>
</div>

</body>
