<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>自助理赔</title>
    <style type="text/css">
    .icons{
    height: 18px;
    width: 19px;
    }
    .formControl{
    margin-top: 160px;
    }
	</style>

    <link rel="stylesheet" type="text/css" href="../../../css/员工页面css.staff.css" />
    <link rel="stylesheet" type="text/css" href="表格模型.css" />
</head>
<body>
	<!-- logo -->
	<div class="top">
	   <div class="logo">
		  <img src="logo.png"  alt="BUPT INSURANCE" />
	   </div>
	   <div class="headfont">
		  <p>开始自助理赔</p>
	   </div>
	</div>

    <div class="navbar">
        <ul class="navbarMenu">
            <li><a href="">主页</a></li>
            <li><a href="个人信息修改.html">个人信息管理</a>
                <ul class="navbarSubmenu">
                    <li><a href="个人信息修改.html">修改个人信息</a></li>
                    <li><a href="银行卡管理.html">银行卡管理</a></li>
<!--                     <li><a href="#">three</a></li>
                    <li><a href="#">four</a></li>
                    <li><a href="#">five</a></li>
                    <li><a href="#">six</a></li> -->
                </ul>
            </li>
            <li><a href="个人保险购买.html">购买保险</a>
                <ul class="navbarSubmenu">
                    <li><a href="个人保险购买.html">个人保险</a></li>
                    <li><a href="团体保险购买.html">团体保险</a></li>
 <!--                    <li><a href="#">three</a></li>
                    <li><a href="#">four</a></li>
                    <li><a href="#">five</a></li>
                    <li><a href="#">six</a></li> -->
                </ul>
            </li>
            <li><a href="公司团体保险.html">公司团体保险</a>
                <ul class="navbarSubmenu">
<!--                     <li><a href="#">one</a></li>
                    <li><a href="#">two</a></li>
                    <li><a href="#">three</a></li>
                    <li><a href="#">four</a></li>
                    <li><a href="#">five</a></li>
                    <li><a href="#">six</a></li> -->
                </ul>
            </li>
            <li><a href="理赔查询.html">理赔查询</a></li>
            <li><a href="自助理赔.html">自助理赔</a></li> 
            <li><a href="修改密码.html">修改密码</a></li> 
        </ul> 
    </div>
	<div class="formControl">
			<table width="100%" width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
 				<thead>
		       		<tr>
		        		<th>可赔付单号</th>
						<th>对应事故</th>
		            	<th class="bzjh">保障最低金额</th>
		            	<th class="bzjh">最高金额</th>
		            	<th class="bzjh">购险时间</th>
		            </tr>
		        </thead>
				<tbody>
					<tr>
						<td rowspan="3">
							<div><p>3123123123123</p></div>
						</td>
						<td  class="tal">意外伤害身故、残疾</td>
	                    <td class="bzjh">20万</td>
		                <td class="bzjh">30万</td>
		                <td class="bzjh">xxxx</td>
					</tr>
					<tr>
		               	<td  class="tal">意外和疾病住院和门急诊</td>
		                <td class="bzjh">5万</td>
		                <td class="bzjh">15万</td>
		                <td class="bzjh">xxx</td>
					</tr>
					<tr>
						<td  class="tal">意外伤害身故、残疾</td>
		               	<td class="bzjh">20万</td>
		               	<td class="bzjh">30万</td>
	                   	<td class="bzjh">xxxx</td>
					</tr>
					<tr>
						<td rowspan="4">
							<div><p>123123123123123</p></div>
						</td>
		                <td  class="tal">飞机意外伤害身故和残疾</td>
	                   	<td class="bzjh">30万</td>
	                  	<td class="bzjh">50万</td>
	                   	<td class="bzjh">xxxx</td>
					</tr>
					<tr>
	                	<td  class="tal">火车意外伤害身故和残疾</td>
	                   	<td class="bzjh">10万</td>
	                   	<td class="bzjh">20万</td>
	                   	<td class="bzjh">xxxx</td>
					</tr>
					<tr>
	                   	<td  class="tal">轮船意外伤害身故和残疾</td>
	                   	<td class="bzjh">10万</td>
	                   	<td class="bzjh">20万</td>
	                   	<td class="bzjh">xxxxx</td>
					</tr>
					<tr>
                    	<td  class="tal">汽车意外伤害身故和残疾</td>
	                   	<td class="bzjh">10万</td>
	                    <td class="bzjh">20万</td>
	                   	<td class="bzjh">xxxx</td>
					</tr>
				</tbody>
			</table>
		</div>
</body>
</html>