{% extends 'homepage/template.html' %}
{% block mainbody %}

<!--================Blog Area =================-->
<section class="blog_area single-post-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img class="img-fluid" src="../../static/img/blog/blog2big.png" alt="">
                    </div>

                    <div class="blog_details">
                        <h2>境外旅游险</h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a href="#"><i class="far fa-user"></i>8700浏览</a></li>
                            <li><a href="#"><i class="far fa-comments"></i>800评论</a></li>
                        </ul>
                        <p class="excert">
                            出国旅游，异域风情让人流连忘返，但突发意外也会让我们措手不及。

                            最近微博有位女孩爆出父母在伊朗遭遇严重车祸，母亲身故、父亲重伤急需紧急救援，对保险公司不作为表达了自己的愤怒。

                                相信很多人一定对紧急救援存在很多疑惑，今天深蓝君就通过一篇文章，一起看看旅游意外险到底怎么选？主要内容如下：  </p>

                        <p>1）真实案例，紧急救援到底怎么救？</p>

                        <p>2）6 款全球境外旅游意外险对比分析</p>

                        <p>3）出国旅游，还需要注意什么？</p>

                        <div class="quote-wrapper">
                            <div class="quotes">
                               如果看重紧急救援服务：美亚的【万国游踪】、安盛天平的【境外旅游保险】、史带的【乐游全球】都是直接根据实际费用结算，没有限额，而且都是自家的救援机构，省去了第三方合作授权的步骤，后续服务会更加方便快捷。
                            如果出行包括高风险活动：建议重点关注旅游意外险免责部分，图表中众安的【境外旅行意外险】扩展的高风险运动是最全的，包括滑雪、跳伞、攀岩运动、潜水、驾驶卡丁车、蹦极等高风险运动，适合喜欢探险的朋友。
                            如果途经高风险国家：平安的【乐游全球】除了中国大陆外的国家都可以保障，包括紧急状态的国家或地区，不过会降低至原保额10%，适合短暂停留高风险国家，担心没有保障的朋友。
                            </div>
                        </div>


                        <p>
                            国外的医疗体系和国内截然不同，如果没有保险，感冒发烧或者处理伤口，可能 1-2 万人民币就没了，所以建议意外以及疾病医疗保额要足够高。

                        </p>
                        <p>
                            每家救援机构在全球都有自己的分支机构及服务供应商，在选择产品时，建议尽量选择在当地有分支的救援机构，会更有保障一些。
                            另外一旦用到紧急救援，费用都会比较昂贵。所以在选择产品时，深蓝君建议尽量选择没有额度限制的产品，把自己的损失降到最低。
                        </p>
                    </div>
                </div>
                <div class="navigation-top">
                    <div class="d-sm-flex justify-content-between text-center">
                        <p class="like-info"><span class="align-middle"><i class="far fa-heart"></i></span>200人点赞</p>
                        <div class="col-sm-4 text-center my-2 my-sm-0">
                            <p class="comment-count"><span class="align-middle"><i class="far fa-comment"></i></span> 36条回复</p>
                        </div>

                    </div>

                    <div class="navigation-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                <div class="thumb">
                                    <a href="#">
                                        <img class="img-fluid" src="../../static/img/blog/prev.jpg" alt="">
                                    </a>
                                </div>
                                <div class="arrow">
                                    <a href="#">
                                        <span class="lnr text-white lnr-arrow-left"></span>
                                    </a>
                                </div>
                                <div class="detials">
                                    <p>上一篇</p>
                                    <a href="#">
                                        <h4>如何选购家庭家庭健康险</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                <div class="detials">
                                    <p>下一篇</p>
                                    <a href="#">
                                        <h4>你听说过美容险吗</h4>
                                    </a>
                                </div>
                                <div class="arrow">
                                    <a href="#">
                                        <span class="lnr text-white lnr-arrow-right"></span>
                                    </a>
                                </div>
                                <div class="thumb">
                                    <a href="#">
                                        <img class="img-fluid" src="../../static/img/blog/next.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="blog-author">
                    <div class="media align-items-center">
                        <img src="../../static/img/blog/author.png" alt="">
                        <div class="media-body">
                            <a href="#">
                                <h4>张小帝</h4>
                            </a>
                            <p>张先生，25岁，太平洋保险从业人员，有着吩咐的境外保险的知识。</p>
                        </div>
                    </div>
                </div>

                <div class="comments-area">
                    <h4>16 评论</h4>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="../../static/img/blog/c1.png" alt="">
                                </div>
                                <div class="desc">
                                    <p class="comment">
                                        楼主说的真好，就是要有这种钻研精神才值得托付，才是专业，很客观。但话说回来，毕竟客户拿的保单抬头写的平安财，所以有理没理，事情闹大了也是平安顶，毕竟欧乐是你平安的指定授权救援机构，就算100%是欧乐的锅，面对公众，平安也得背。
                                    </p>

                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                <a href="#">小敏</a>
                                            </h5>
                                            <p class="date">2020/9/10  3:12 pm </p>
                                        </div>

                                        <div class="reply-btn">
                                            <a href="#" class="btn-reply text-uppercase">回复</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="../../static/img/blog/c2.png" alt="">
                                </div>
                                <div class="desc">
                                    <p class="comment">
                                        纠正一下，史带并不是楼主所说的小公司。史带财险是成立于上海的大众保险和史带集团的合资公司，2014年，史带集团取得控股权，并将公司更名为史带财险，而史带集团的总裁就是大名鼎鼎的保险教父格林伯格。而且史带的多款境外旅行险有医疗直付，旗下的救援服务机构覆盖范围很广
                                    </p>

                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                <a href="#">蒋黎明</a>
                                            </h5>
                                            <p class="date">2020/8/15 at 4:12 pm </p>
                                        </div>

                                        <div class="reply-btn">
                                            <a href="#" class="btn-reply text-uppercase">回复</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="../../static/img/blog/c3.png" alt="">
                                </div>
                                <div class="desc">
                                    <p class="comment">
                                       我的疑问是，紧急救援服务，到底包不包括救援机构积极主动帮助被保险人家人与各方进行协调这一点。如果包括，那妥妥的是平安不作为，被骂不冤枉；如果紧急救援指的仅仅只是提供交通工具在尽可能短的时间内把被保险人送到医疗机构并垫付开支，那指责他们不积极帮忙转院或者取得死亡证明，是不是超出了对方的服务范围呢？
                                    </p>

                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                <a href="#">祝康</a>
                                            </h5>
                                            <p class="date">2020/9/11 3:12 pm </p>
                                        </div>

                                        <div class="reply-btn">
                                            <a href="#" class="btn-reply text-uppercase">回复</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-form">
                    <h4>评论</h4>
                    <form class="form-contact comment_form" action="#" id="commentForm">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9" placeholder="说说你的看法"></textarea>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <button type="submit" class="button button-contactForm">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                  <div class="blog_right_sidebar">
                      <aside class="single_sidebar_widget search_widget">
                          <form action="#">
                            <div class="form-group">
                              <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="搜索关键字">
                                <div class="input-group-append">
                                  <button class="btn" type="button"><i class="ti-search"></i></button>
                                </div>
                              </div>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100" type="submit">搜索</button>
                          </form>
                      </aside>

                      <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">分类</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="#" class="d-flex">
                                    <p>保险理赔</p>
                                    <p>(37)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>保险细则</p>
                                    <p>(10)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>经验分享</p>
                                    <p>(03)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>保险选购</p>
                                    <p>(11)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>保险意义</p>
                                    <p>(21)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>保险收益</p>
                                    <p>(09)</p>
                                </a>
                            </li>
                        </ul>
                      </aside>

                      <aside class="single_sidebar_widget popular_post_widget">
                          <h3 class="widget_title">近期发帖</h3>
                          <div class="media post_item">
                              <img src="../../static/img/blog/popular-post/post1.jpg" alt="post">
                              <div class="media-body">
                                  <a href="blogdetial.html">
                                      <h3>选购保险的10个注意事项</h3>
                                  </a>
                                  <p>10分钟前</p>
                              </div>
                          </div>
                          <div class="media post_item">
                              <img src="../../static/img/blog/popular-post/post2.jpg" alt="post">
                              <div class="media-body">
                                  <a href="blogdetial.html">
                                      <h3>理赔的正确流程</h3>
                                  </a>
                                  <p>2小时前</p>
                              </div>
                          </div>
                          <div class="media post_item">
                              <img src="../../static/img/blog/popular-post/post3.jpg" alt="post">
                              <div class="media-body">
                                  <a href="blogdetial.html">
                                      <h3>教育保险的那些坑</h3>
                                  </a>
                                  <p>一天前</p>
                              </div>
                          </div>
                          <div class="media post_item">
                              <img src="../../static/img/blog/popular-post/post4.jpg" alt="post">
                              <div class="media-body">
                                  <a href="blogdetial.html">
                                      <h3>保险公司的流氓策略</h3>
                                  </a>
                                  <p>2020/9/11</p>
                              </div>
                          </div>
                      </aside>

                  </div>
              </div>
        </div>
    </div>
</section>
<!--================Blog Area end =================-->
    <div class="latest-news  area-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="area-heading">
                    <h3>让生活更加多滋美味</h3>
                    <p>北邮太平  给您的生活带来更多保障</p>
                </div>

            </div>
        </div>
    </div>
<!-- ================ Instargram Area Starts ================= -->  

    <section class="instagram">
        <div class="row no-gutters">
            <div class="col-2">
                <a href=""><img src="../../static/img/instagram/1.jpg" alt=""></a>
            </div>
            <div class="col-2">
                <a href=""><img src="../../static/img/instagram/2.jpg" alt=""></a>
            </div>
            <div class="col-2">
                <a href=""><img src="../../static/img/instagram/3.jpg" alt=""></a>
            </div>
            <div class="col-2">
                <a href=""><img src="../../static/img/instagram/4.jpg" alt=""></a>
            </div>
            <div class="col-2">
                <a href=""><img src="../../static/img/instagram/5.jpg" alt=""></a>
            </div>
            <div class="col-2">
                <a href=""><img src="../../static/img/instagram/6.jpg" alt=""></a>
            </div>
        </div>
    </section>

    <!-- ================ Instargram Area End ================= -->  


{% endblock mainbody %}