{% extends 'homepage/template.html' %}
{% block mainbody %}
    <!--================Fullwidth block Area =================-->

    <section class="fullwidth-block area-padding-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-5">
                    <div class="single-blog">
                        <div class="thumb">
                            <img class="img-fluid" src="../../static/img/magazine/1.jpg" alt="">
                        </div>
                        <div class="short_details">
                            <div class="meta-top d-flex">
                                <a href="#">超级旅游险</a>
                            </div>
                            <a class="d-block" href="blogdetial.html">
                                <h4>保费低至99，最高理赔20万！</h4>
                            </a>
                            <div class="meta-bottom d-flex" >
                                <a href="#">2020/9/10 </a>
                                <a class="dark_font" href="#">&nbsp;&nbsp;中国人寿</a>
                            </div>
                        </div>
                    </div>    
                </div>

                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="single-blog style_two">
                        <div class="thumb">
                            <img class="img-fluid" src="../../static/img/magazine/2.jpg" alt="">
                        </div>
                        <div class="short_details text-center ">

                            <div class="meta-top d-flex justify-content-center">
                                <a href="#">家庭健康险</a>
                            </div>
                            <a class="d-block" href="blogdetial.html">
                                <h4>给家人跟多安心，让生活更加平安</h4>
                            </a>
                            <div class="meta-bottom d-flex justify-content-center">
                                <a href="#">2020/8/14 </a>
                                <a href="#">&nbsp;&nbsp;太平洋人寿</a>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="col-lg-12 col-xl-3">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-xl-12">
                            <div class="single-blog style-three m_b_30">
                                <div class="thumb">
                                    <img class="img-fluid" src="../../static/img/magazine/3.jpg" alt="">
                                </div>
                                <div class="short_details">

                                    <div class="meta-top d-flex justify-content-center">
                                        <a href="#">育儿保险</a>
                                    </div>
                                    <a class="d-block" href="blogdetial.html">
                                        <h4>每月低至99，疾病、意外全面保障</h4>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-12">
                            <div class="single-blog style-three">
                                <div class="thumb">
                                    <img class="img-fluid" src="../../static/img/magazine/4.png" alt="">
                                </div>
                                <div class="short_details">

                                    <div class="meta-top d-flex justify-content-center">
                                        <a href="#">境外旅游险</a>
                                    </div>
                                    <a class="d-block" href="blogdetial.html">
                                        <h4>让风景背后拥有更多保障</h4>
                                    </a>
                                </div>
                            </div>    
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!--================Fullwidth block Area end =================-->


    <!--================ First block section start =================-->      

    <section class="first_block">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-xl-6">
                    <div class="single-blog row no-gutters style-four border_one">
                        <div class="col-12 col-sm-5">
                            <div class="thumb">
                                <img class="img-fluid" src="../../static/img/magazine/5.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-12 col-sm-7">
                            <div class="short_details">
                                <div class="meta-top d-flex">
                                    <a href="#">健康儿童险</a>
                                </div>
                                <a class="d-block" href="blogdetial.html">
                                    <h4>让您的孩子更加安心</h4>
                                </a>
                                <div class="meta-bottom d-flex" >
                                    <a href="#">2020/07/11</a>
                                    <a class="dark_font" href="#">中国人寿</a>
                                </div>
                            </div>  
                        </div>  
                    </div>      
                </div>

                <div class="col-lg-4 col-xl-3">
                    <div class="single-blog style_five">
                        <div class="thumb">
                            <img class="img-fluid" src="../../static/img/magazine/6.jpg" alt="">
                        </div>
                        <div class="short_details ">

                            <div class="meta-top d-flex">
                                <a href="#">北邮太平</a>
                            </div>
                            <a class="d-block" href="blogdetial.html">
                                <h4>让您的生活更加放心</h4>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-xl-3">
                    <div class="single-blog style_five">
                        <div class="thumb">
                            <img class="img-fluid" src="../../static/img/magazine/7.jpg" alt="">
                        </div>
                        <div class="short_details ">

                            <div class="meta-top d-flex">
                                <a href="#">健康险</a>
                            </div>
                            <a class="d-block" href="blogdetial.html">
                                <h4>给您的孩子更加稳定的成长环境</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ First block section end =================-->  

    <!--================ Editors Picks section start =================-->  

    <section class="editors_pick area-padding">
        <div class="container">
            <div class="row">
                <div class="area-heading">
                    <h3>北邮太平</h3>
                    <p>打造专属您个人的保险网站，给您最佳的购险体验</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-xl-6">
                    <div class="single-blog">
                        <div class="thumb">
                            <img class="img-fluid" src="../../static/img/magazine/8.jpg" alt="">
                        </div>
                        <div class="short_details pad_25 ">
                            <div class="meta-top d-flex">
                                <a href="#">优势一</a>
                            </div>
                            <a class="d-block" href="blogdetial.html">
                                <h4>客户至上，为您提供最优质的服务</h4>
                            </a>
                        </div>
                    </div>    
                </div>
                <div class="col-lg-7 col-xl-6">
                    <div class="single-blog row no-gutters style-four m_b_30">
                        <div class="col-12 col-sm-7">
                            <div class="short_details padd_left_0">
                                <div class="meta-top d-flex">
                                    <a href="#" style="color: #ff7a7f;">优势二</a>
                                </div>
                                <a class="d-block" href="blogdetial.html">
                                    <h4 class="font-20">提供定制化保险服务，通过您的生活状况，给您提供专属您个人的定制化保险服务</h4>
                                </a>
                            </div>  
                        </div>  
                        <div class="col-12 col-sm-5">
                            <div class="thumb">
                                <img class="img-fluid" src="../../static/img/magazine/9.jpg" alt="">
                            </div>
                        </div>
                    </div> 

                    <div class="single-blog row no-gutters style-four">
                        <div class="col-12 col-sm-5">
                            <div class="thumb">
                                <img class="img-fluid" src="../../static/img/magazine/10.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-12 col-sm-7">
                            <div class="short_details padd_right_0">
                                <div class="meta-top d-flex">
                                    <a href="#" style="color: #ff7a7f;">优势三</a>
                                </div>
                                <a class="d-block" href="blogdetial.html">
                                    <h4 class="font-20">精准的保险精算辅助策略 </h4>
                                </a>
                                <p>通过一套业界成熟的保险精算的算法，建立您的个人模型，来分析您购买的保险收益可能</p>
                            </div>  
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--================ Editors Picks section end =================-->      




    <!--================ three-block section start =================-->  

    <div class="three-block  area-padding">
        <div class="container">
            <div class="row">
                <div class="area-heading">
                    <h3>热门保险</h3>
                    <p>展示一个月内，全网搜索最多的险种，有百度大数据提供技术支持</p>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-blog style-five">
                        <div class="thumb">
                            <img class="img-fluid" src="../../static/img/magazine/2.png" alt="">
                        </div>
                        <div class="short_details">
                            <div class="meta-top d-flex">
                                <a href="#">夫妻癌症险</a>
                            </div>
                            <a class="d-block" href="blogdetial.html">
                                <h4>月供200元，最高理赔100万</h4>
                            </a>
                            <div class="meta-bottom d-flex">
                                <a href="#"><i class="ti-comment"></i>本月成交12，450单</a>
                            </div>
                        </div>
                    </div> 

                </div> 

                <div class="col-lg-4">
                    <div class="single-blog style-five">
                        <div class="thumb">
                            <img class="img-fluid" src="../../static/img/magazine/16.jpg" alt="">
                        </div>
                        <div class="short_details">
                            <div class="meta-top d-flex">
                                <a href="#">家庭健康险</a>
                            </div>
                            <a class="d-block" href="blogdetial.html">
                                <h4>每月仅需30元，最高理赔20万</h4>
                            </a>
                            <div class="meta-bottom d-flex">
                                <a href="#"><i class="ti-comment"></i>本月成交 10，241单</a>
                            </div>
                        </div>
                    </div> 

                </div> 

                <div class="col-lg-4">
                    <div class="single-blog style-five">
                        <div class="thumb">
                            <img class="img-fluid" src="../../static/img/magazine/17.jpg" alt="">
                        </div>
                        <div class="short_details">
                            <div class="meta-top d-flex">
                                <a href="#">育金保险</a>
                            </div>
                            <a class="d-block" href="blogdetial.html">
                                <h4>疾病、意外、教育基金全程保障</h4>
                            </a>
                            <div class="meta-bottom d-flex">
                                <a href="#"><i class="ti-comment"></i>本月成交9，453</a>
                            </div>
                        </div>
                    </div> 
                </div> 
            </div>
        </div>
    </div>


    <!--================ three-block section end =================-->  



    <!--================ Latest news section start =================-->

    <div class="latest-news  area-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="area-heading">
                    <h3>让生活更加多滋美味</h3>
                    <p>北邮太平  给您的生活带来更多保障</p>
                </div>

            </div>
        </div>
    </div>


    <!--================ Latest news section end =================-->

    <!-- ================ Instargram Area Starts ================= -->  

    <section class="instagram">
        <div class="row no-gutters">
            <div class="col-2">
                <a href=""><img src="../../static/img/instagram/1.jpg" alt=""></a>
            </div>
            <div class="col-2">
                <a href=""><img src="../../static/img/instagram/2.jpg" alt=""></a>
            </div>
            <div class="col-2">
                <a href=""><img src="../../static/img/instagram/3.jpg" alt=""></a>
            </div>
            <div class="col-2">
                <a href=""><img src="../../static/img/instagram/4.jpg" alt=""></a>
            </div>
            <div class="col-2">
                <a href=""><img src="../../static/img/instagram/5.jpg" alt=""></a>
            </div>
            <div class="col-2">
                <a href=""><img src="../../static/img/instagram/6.jpg" alt=""></a>
            </div>
        </div>
    </section>

    <!-- ================ Instargram Area End ================= -->  

{% endblock mainbody %}
