{% extends 'homepage/template.html' %}
{% block mainbody %}

    <!--================Category  Area Start =================-->
        <div>
            {% for ins in insure %}
                <div class="product">
                    <ul>
                        <li>
                            <div class="pro-img">
                                <a href="#">
                                    <img src="../../static/img/insurance/{{ins.ins_id}}.jpg" alt="">
                                </a>
                            </div>
                            <h3><a href="#">{{ins.ins_name}}</a></h3>
                            <p class="price">
                                <span>{{ins.ins_profit}}</span>元
                            </p>
                            <div class="review">
                                <a href="#">
                                  <span class="msg">{{ins.ins_ad}}</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    <!--================Category  Area End =================-->



    <!--================ Latest news section start =================-->

    <!--================ Latest news section end =================-->

    <div class="latest-news  area-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="area-heading">
                    <h3>让生活更加多滋美味</h3>
                    <p>北邮太平  给您的生活带来更多保障</p>
                </div>

            </div>
        </div>
    </div>


    <!-- ================ Instargram Area Starts ================= -->
    <section class="instagram">
        <div class="row no-gutters">
            <div class="col-2">
                <a href=""><img src="../../static/img/instagram/1.jpg" alt=""></a>
            </div>
            <div class="col-2">
                <a href=""><img src="../../static/img/instagram/2.jpg" alt=""></a>
            </div>
            <div class="col-2">
                <a href=""><img src="../../static/img/instagram/3.jpg" alt=""></a>
            </div>
            <div class="col-2">
                <a href=""><img src="../../static/img/instagram/4.jpg" alt=""></a>
            </div>
            <div class="col-2">
                <a href=""><img src="../../static/img/instagram/5.jpg" alt=""></a>
            </div>
            <div class="col-2">
                <a href=""><img src="../../static/img/instagram/6.jpg" alt=""></a>
            </div>
        </div>
    </section>

    <!-- ================ Instargram Area End ================= -->  

{% endblock mainbody %}
