{% extends 'homepage/template.html' %}

    <!--================Fullwidth block Area =================-->

{% block mainbody %}

    <!--================Category  Area Start =================-->

    <section class="category-page area-padding">
        <div class="container">
            <div class="row">
               <div class="col-lg-4">
                    <div class="single-blog style-five">
                        <div class="thumb">
                            <img class="img-fluid" src="../../static/img/magazine/team1.png" alt="">
                        </div>
                        <div class="short_details">
                            <div class="meta-top d-flex">
                                <a href="#">公司团体保障险</a>
                            </div>
                            <a class="d-block" href="blogdetial.html">
                                <h4>月供200元，最高获赔100万</h4>
                            </a>
                            <div class="meta-bottom d-flex">
                                <a href="#"><i></i>本月成交2，450单</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4">
                    <div class="single-blog style-five">
                        <div class="thumb">
                            <img class="img-fluid" src="../../static/img/magazine/team2.jpg" alt="">
                        </div>
                        <div class="short_details">
                            <div class="meta-top d-flex">
                                <a href="#">家庭团体险</a>
                            </div>
                            <a class="d-block" href="blogdetial.html">
                                <h4>全家每月共处300元，医疗、意外全程保障</h4>
                            </a>
                            <div class="meta-bottom d-flex">
                                <a href="#"><i></i>本月成交 10，241单</a>
                            </div>
                        </div>
                    </div>

                </div>
                 <div class="col-lg-4">
                    <div class="single-blog style-five">
                        <div class="thumb">
                            <img class="img-fluid" src="../../static/img/magazine/team2.jpg" alt="">
                        </div>
                        <div class="short_details">
                            <div class="meta-top d-flex">
                                <a href="#">家庭团体险</a>
                            </div>
                            <a class="d-block" href="blogdetial.html">
                                <h4>全家每月共处300元，医疗、意外全程保障</h4>
                            </a>
                            <div class="meta-bottom d-flex">
                                <a href="#"><i></i>本月成交 10，241单</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="single-blog style-five">
                        <div class="thumb">
                            <img class="img-fluid" src="../../static/img/magazine/team3.jfif" alt="">
                        </div>
                        <div class="short_details">
                            <div class="meta-top d-flex">
                                <a href="#">小型团队创业险</a>
                            </div>
                            <a class="d-block" href="blogdetial.html">
                                <h4>给您的创业解决后顾之忧</h4>
                            </a>
                            <div class="meta-bottom d-flex">
                                <a href="#"><i></i>本月成交1，453</a>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-lg-4">
                    <div class="single-blog style-five">
                        <div class="thumb">
                            <img class="img-fluid" src="../../static/img/magazine/team2.jpg" alt="">
                        </div>
                        <div class="short_details">
                            <div class="meta-top d-flex">
                                <a href="#">家庭团体险</a>
                            </div>
                            <a class="d-block" href="blogdetial.html">
                                <h4>全家每月共处300元，医疗、意外全程保障</h4>
                            </a>
                            <div class="meta-bottom d-flex">
                                <a href="#"><i></i>本月成交 10，241单</a>
                            </div>
                        </div>
                    </div>

                </div>
                 <div class="col-lg-4">
                    <div class="single-blog style-five">
                        <div class="thumb">
                            <img class="img-fluid" src="../../static/img/magazine/team1.png" alt="">
                        </div>
                        <div class="short_details">
                            <div class="meta-top d-flex">
                                <a href="#">公司团体保障险</a>
                            </div>
                            <a class="d-block" href="blogdetial.html">
                                <h4>月供200元，最高获赔100万</h4>
                            </a>
                            <div class="meta-bottom d-flex">
                                <a href="#"><i></i>本月成交2，450单</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4">
                    <div class="single-blog style-five">
                        <div class="thumb">
                            <img class="img-fluid" src="../../static/img/magazine/team2.jpg" alt="">
                        </div>
                        <div class="short_details">
                            <div class="meta-top d-flex">
                                <a href="#">家庭团体险</a>
                            </div>
                            <a class="d-block" href="blogdetial.html">
                                <h4>全家每月共处300元，医疗、意外全程保障</h4>
                            </a>
                            <div class="meta-bottom d-flex">
                                <a href="#"><i></i>本月成交 10，241单</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4">
                    <div class="single-blog style-five">
                        <div class="thumb">
                            <img class="img-fluid" src="../../static/img/magazine/team3.jfif" alt="">
                        </div>
                        <div class="short_details">
                            <div class="meta-top d-flex">
                                <a href="#">小型团队创业险</a>
                            </div>
                            <a class="d-block" href="blogdetial.html">
                                <h4>给您的创业解决后顾之忧</h4>
                            </a>
                            <div class="meta-bottom d-flex">
                                <a href="#"><i></i>本月成交1，453</a>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-lg-4">
                    <div class="single-blog style-five">
                        <div class="thumb">
                            <img class="img-fluid" src="../../static/img/magazine/team1.png" alt="">
                        </div>
                        <div class="short_details">
                            <div class="meta-top d-flex">
                                <a href="#">公司团体保障险</a>
                            </div>
                            <a class="d-block" href="blogdetial.html">
                                <h4>月供200元，最高获赔100万</h4>
                            </a>
                            <div class="meta-bottom d-flex">
                                <a href="#"><i></i>本月成交2，450单</a>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="col-lg-4">
                    <div class="single-blog style-five">
                        <div class="thumb">
                            <img class="img-fluid" src="../../static/img/magazine/team3.jfif" alt="">
                        </div>
                        <div class="short_details">
                            <div class="meta-top d-flex">
                                <a href="#">小型团队创业险</a>
                            </div>
                            <a class="d-block" href="blogdetial.html">
                                <h4>给您的创业解决后顾之忧</h4>
                            </a>
                            <div class="meta-bottom d-flex">
                                <a href="#"><i></i>本月成交1，453</a>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-lg-4">
                    <div class="single-blog style-five">
                        <div class="thumb">
                            <img class="img-fluid" src="../../static/img/magazine/team1.png" alt="">
                        </div>
                        <div class="short_details">
                            <div class="meta-top d-flex">
                                <a href="#">公司团体保障险</a>
                            </div>
                            <a class="d-block" href="blogdetial.html">
                                <h4>月供200元，最高获赔100万</h4>
                            </a>
                            <div class="meta-bottom d-flex">
                                <a href="#"><i></i>本月成交2，450单</a>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="col-lg-4">
                    <div class="single-blog style-five">
                        <div class="thumb">
                            <img class="img-fluid" src="../../static/img/magazine/team3.jfif" alt="">
                        </div>
                        <div class="short_details">
                            <div class="meta-top d-flex">
                                <a href="#">小型团队创业险</a>
                            </div>
                            <a class="d-block" href="blogdetial.html">
                                <h4>给您的创业解决后顾之忧</h4>
                            </a>
                            <div class="meta-bottom d-flex">
                                <a href="#"><i></i>本月成交1，453</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <a href="" class="main_btn">Load More <span class="ti-angle-double-right"></span></a>
                </div>
            </div>
        </div>
    </section>
    <!--================Category  Area End =================-->
    <div class="latest-news  area-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="area-heading">
                    <h3>让团队更多安心</h3>
                    <p>北邮太平  给您的生活带来更多保障</p>
                </div>

            </div>
        </div>
    </div>
   <!-- ================ Instargram Area Starts ================= -->  

    <section class="instagram">
        <div class="row no-gutters">
            <div class="col-2">
                <a href=""><img src="../../static/img/instagram/1.jpg" alt=""></a>
            </div>
            <div class="col-2">
                <a href=""><img src="../../static/img/instagram/2.jpg" alt=""></a>
            </div>
            <div class="col-2">
                <a href=""><img src="../../static/img/instagram/3.jpg" alt=""></a>
            </div>
            <div class="col-2">
                <a href=""><img src="../../static/img/instagram/4.jpg" alt=""></a>
            </div>
            <div class="col-2">
                <a href=""><img src="../../static/img/instagram/5.jpg" alt=""></a>
            </div>
            <div class="col-2">
                <a href=""><img src="../../static/img/instagram/6.jpg" alt=""></a>
            </div>
        </div>
    </section>

    <!-- ================ Instargram Area End ================= -->  

{% endblock mainbody %}
