<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>乐享手机商城</title>
    <link href="{% static 'css/public/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/public/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/public/admin.css' %}" rel="stylesheet">
    <script src="{% static 'js/public/jquery.1.12.4.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/public/layui.js' %}" type="text/javascript"></script>
</head>
<body>
	<div class="layui-body" style="position:absolute;left:0px;" id="LAY_app_body">
		<div class="layadmin-tabsbody-item layui-show">
			<div class="layui-fluid" style="padding-top:60px;">
				<div class="layadmin-tips">
					<i class="layui-icon" face=""></i>
					<div class="layui-text" style="font-size: 20px;">好像出错了呢</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>